{% extends 'blog_app/base.html' %}


{% block menu2 %}
    {% for el in menu2 %}
        <a href="{% url 'category_item' el.id %}">{{ el.short_name  }}</a> [{{el.count_item }}] //
    {% endfor %}
{% endblock %}

{% block content %}
   <div class="warning">
       Будет удалена {{ data.title}}
           <span>
               <form method="post">
                   <input hidden name="item_id" value="{{ data.id }}">
                   {{ form }}
                   {% csrf_token %}
                   <button type="submit">Подтвердить</button>
               </form>
           </span>
   </div>


{%  endblock %}