{% extends 'blog_app/base.html' %}

{% block title %}
        Index Page
{% endblock %}


{% block pagename %}
    <h1>Index Page</h1>
{% endblock %}

{% block menu2 %}
    {% for el in menu2 %}
        <a href="{% url 'category_item' el.id %}">{{ el.short_name  }}</a> [{{el.count_item }}] //
    {% endfor %}
{% endblock %}

{% block content %}
    {% for el in data %}
        <li> <A HREF="{% url 'one_item' el.article.id  %}"> {{ el.article.title }}  </A>
            [{{ el.article.category.short_name }}]</li>
    {% endfor %}

{%  endblock %}